/* /* h1 {
    text-align: center;
    font-size: 15;
    color: rgb(15, 35, 15);
    font-style: tahoma;
  } */
  body {
      margin: 0;
      font-family: "Lato", sans-serif;
      background-color: #f3cf03;
    }
    
    .container-fluid {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      /* Add this line to move the ul element to the left side of the page */
      flex-direction: row-reverse;
    }
    
    #films {
      list-style: none;
    }
    #filmSetup {
      text-align: center;
    }
    
    #films li:hover {
      background-color: rgb(250, 9, 9);
    }
    
    img {
      max-width: 400px;
      margin: 20px 0;
    }
    
    #button {
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #eb0606;
      transition: 0.3s;
      cursor: pointer;
    }
    
    #button:hover {
      background-color: darkgray;
    }
    
    /* Add this code to style the card */
    .card {
      max-width: 400px;
      margin: 20px;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .card-body {
      margin: 20px 0;
      background-color: red;
      float: right;
    }
    
    .column {
      float: left;
      width: 40%;
    }
    
